@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import './map.scss';



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: map-get($map: $colors, $key: "green-200");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Karla", sans-serif;
}




main{
    width: 90%;
    max-width: 736px;
    margin: auto;
    background-color: map-get($map: $colors, $key: "white");
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    h2{
        color: map-get($map: $colors, $key: "grey-900");
        font-weight: map-get($map: $font-weights, $key: "bold");
        
    }

}


form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: map-get($map: $font-weights , $key: "regular" );

    .name-info{
        display: flex;
        gap: 24px;
        flex-wrap: wrap;

        .flex-column{
            flex: 1 1 200px;
            display: flex;
            flex-direction: column;
            gap: 10px;


            input[type="text"]{
                padding: 10px;
                border-radius: 5px;
                border: 1px solid map-get($map: $colors, $key: "grey-500");
                outline: none;
            }
        }

    }

    .email-div{
        display: flex;
        flex-direction: column;
        gap: 10px;

        input[type="email"]{
            padding: 10px;
            border-radius: 5px;
            border: 1px solid map-get($map: $colors, $key: "grey-500");
            outline: none;
        }
    }


    .query-type{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .flex-box{
            display: flex;
            gap: 24px;
            flex-wrap: wrap;

            .radio-input{
                display: flex;
                align-items: center;
                gap: 8px;
                border: 1px solid map-get($map: $colors, $key: "grey-500");
                padding: 6px 28px;
                border-radius: 5px;
                
            }
        }

    }

    .message{
        display: flex;
        flex-direction: column;
        gap: 10px;

        textarea{
            padding: 10px;
            border-radius: 5px;
            border: 1px solid map-get($map: $colors, $key: "grey-500");
            outline: none;
            resize: vertical;
        }

    }

}

.checkbox{
        display: flex;
        align-items: center;
        gap: 10px;
    }


.button{
    width: 100%;
    padding: 10px;
    background-color: map-get($map: $colors, $key: "green-600");
    color: map-get($map: $colors, $key: "white");
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: map-get($map: $font-weights, $key: "bold");
    cursor: pointer;

    &:hover{
        background-color: darken(map-get($map: $colors, $key: "green-600"), 10%);
    }
}





.attribution { font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }